.git
.github
.venv
__pycache__
*.py[cod]
build/
dist/
.pytest_cache/
coverage.xml
.ruff_cache/
.mypy_cache/
.idea/
.vscode/

# Node artifacts
node_modules/

# notebooks outputs
*.ipynb_checkpoints

# poetry lock
poetry.lock

